.App {
  
  
  /* padding-bottom: 60px; */
  background-color: rgb(2, 2, 29);
}

.body,h1,h2,h3,h4,h5,h6,p{
  color: rgb(222, 230, 236);
  font-family: 'Playfair Display', serif;
}

.Photo {
  display: flex;
  width: 250px;
  height: 400px;
  margin-left: 10rem;
  margin-top: 8rem;
  border-radius: 20px;
}

.Box {
  display: flex;
  
  margin-left:2rem ;
  margin-top: 3rem;
  border-radius: 20px;
  width: 20px;
  height: 550px;
  background: #e0ad05;
  
}
.mainpage{
  display: flex;
}

.Notes1{
  width: 400px;
  margin-left: 20rem;
  margin-top: 9rem;
}