.Header{
  display: flex;
  color: aliceblue;
}

.Logo{
  display: flex;
  padding-left: 20px;
}

.Menu{
  display: flex;
  padding-top: 0rem;
  color: aliceblue;
  font-size: 30px;
  
}
